body {
  background-color: rgb(206, 223, 223);
  font-size: 20px;
}
.app{
background-color: rgb(149, 194, 149);
border-radius: 20px;
width: 600px;
margin: 30px;
padding: 20px;
}
.btn {
  border-radius: 20px;
  font-size: 15px;
}


